<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Desafio Beep Saúde</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
  </head>
  <body>
    <div class="navbar-wagon">
      <!-- Logo -->
      <p><strong>Desafio Beep Saúde - Arthur Philadelpho</strong></p>
      <!-- Right Navigation -->
      <div class="navbar-wagon-right hidden-xs hidden-sm">
        <a href="https://github.com/arthurphiladelpho/desafio-beep-saude">Acessar código no Github...</a>
      </div>
    </div>
    <div id="container">
      <%= yield %>
    </div>
    <div class="footer">
      <div class="footer-links">
        <a href="https://github.com/arthurphiladelpho"><i class="fab fa-github"></i></a>
        <a href="https://www.instagram.com/oddprophet/"><i class="fab fa-instagram"></i></a>
      </div>
      <div class="footer-copyright">
        <i class="fas fa-heart"></i>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
